* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #F6F3EE;
    color: #2B2420;
}

.navbar {
    width: 100%;
    background: white;
    position: fixed;
    top: 0;
    z-index: 1000;
    border-bottom: 1px solid #E7E1D8;
    box-shadow:0 2px 10px rgba(0,0,0,.05);
}

.container {
    width: 90%;
    max-width: 1300px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.logo-icon {
    width: 35px;
    height: 35px;
    background: #A6572E;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    font-weight: bold;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 30px;
}

.nav-links a {
    text-decoration: none;
    color: #555;
    font-weight: 500;
    position: relative;
}

.nav-links a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 2px;
    background: #A6572E;
    transition: .3s;

}

.nav-links a:hover::after {
    width: 100%;
}

.nav-links a:hover {
    color: #A6572E;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 15px;
}

.icon-btn {
    width: 40px;
    height: 40px;
    border: none;
    background: #F6F3EE;
    border-radius: 50%;
    cursor: pointer;
    transition: .3s;
}

.icon-btn:hover {
    background: #A6572E;
    color: white;
}

.cart {
    position: relative;
}

.badge {
    position: absolute;
    top: -5px;
    right: -5px;
    background: red;
    color: white;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}

.login-btn {
    padding: 10px 18px;
    background: white;
    border: 1px solid #A6572E;
    color: #A6572E;
    border-radius: 5px;
    cursor: pointer;
}

.login-btn:hover {
    background: #A6572E;
    color: white;
}

.signup-btn {
    padding: 10px 18px;
    background: #A6572E;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.signup-btn:hover {
    background: #7C3E1D;
}

/* ******************************************************* search ********************************************************** */

.product-controls {
    width: 90%;
    max-width: 1300px;
    margin: 100px auto 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.search-box {
    flex: 1;
    padding: 15px 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    outline: none;
    font-size: 16px;
}

.search-box:focus {
    border-color: #A6572E;
}

.select-wrapper {
    position: relative;
    display: inline-block;
}

.category-filter {
    border: 1px solid #ddd;
    border-radius: 10px;
    appearance: none;
    -webkit-appearance: none;                         /***************/
    -moz-appearance: none;
    padding: 15px 45px 15px 20px;
}

.category-filter:focus{
    outline: none;
    border-color: #A6572E;
}


.select-wrapper i {
    position: absolute;
    right: 18px;
    top: 50%;
    transform: translateY(-50%);
    color: #666;
    pointer-events: none;
    font-size: 14px;
}

/* .category-filter::-ms-expand{
    display: none;
} */

/* ******************************************************* Products page *********************************************************** */

.products {
    width: 90%;
    max-width: 1300px;
    margin: 0 auto 30px;
}

.section-title {
    text-align: center;
    margin-bottom: 50px;
}

.section-title h2 {
    font-size: 40px;
    color: #2B2420;
    margin-bottom: 15px;
}

.section-title p {
    color: #666;
    font-size: 18px;
}

.product-title{
    text-decoration: none;
    color: #2B2420;
}

.product-title:hover{
    color: #A6572E;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.product-card {
    background: #fff;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    transition: .4s;
    box-shadow: 0 5px 20px rgba(0, 0, 0, .08);
}

.discount,.wishlist{
    z-index: 10;
}

.product-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 20px 40px rgba(0, 0, 0, .15);
}

.product-card img {
    display: block;
    width: 100%;
    height: 240px;
    object-fit: cover;
    transition: .4s;
}

.product-card:hover img {
    transform: scale(1.05);
}

.discount {
    position: absolute;
    top: 15px;
    left: 15px;
    background: #A6572E;
    color: white;
    padding: 6px 12px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 600;
}

.wishlist {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    background: white;
    cursor: pointer;
    font-size: 18px;
    transition: .3s;
}

.wishlist:hover {
    background: #A6572E;
    color: white;
    transform: scale(1.1);
}

.product-card h3 {
    font-size: 22px;
    margin: 20px;
}

.rating {
    margin: 0 20px;
    color: #f4b400;
}

.price {
    margin: 20px;
}

.new-price {
    color: #A6572E;
    font-size: 22px;
    font-weight: bold;
}

.old-price {
    margin-left: 10px;
    color: #999;
    text-decoration: line-through;
}

.cart-btn {
    width: calc(100% - 40px);
    margin: 0 20px 20px;
    padding: 14px;
    border: none;
    background: #A6572E;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    transition: .3s;
}

.cart-btn:hover {
    background: #7C3E1D;
}

/* ******************************************************** navigation ********************************************************************* */

.pagination {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 60px 0;
}

.pagination button {
    width: 45px;
    height: 45px;
    border: none;
    background: white;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .1);
    transition: .3s;
}

.pagination button:hover,
.pagination .active {
    background: #A6572E;
    color: white;
}